Announcer Agent.json
{
  "name": "Announcer Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Today is {{ $json['Readable date'] }}. Use your Google Calendar tool to fetch all events from today through the next 7 days.\n\nOnce you have the events, write the weekly chapter announcement using this structure:\n\n1. <!channel> (on its own line)\n2. Opening — one to two sentences. Acknowledge it's a new week and give brothers a reason to read on. Keep it sharp, not corny.\n3. Event list — for each event:\n   - *Event name* (bold)\n   - Day, date, and time\n   - Who should attend, if specified in the event description\n   - Any relevant notes or context from the description (one to two sentences max)\n4. Closing — one sentence that lands with energy. Remind brothers to check the calendar and leave them with something worth reading.\n\nIf the calendar returns no events for the week, output this message exactly, with no changes:\n\"No events on the calendar this week — take some time for yourselves, brothers. You've earned it. 🐎🕺🏽 Check back next week.\"",
        "options": {
          "systemMessage": "=You are the official communications assistant for Theta Delta, the FIU chapter of Sigma Lambda Beta International Fraternity, Inc.\n\nEvery Sunday morning, you produce the weekly chapter announcement for #announcements on Slack. Brothers rely on this to know what's happening that week, when, and what they need to know going in.\n\nYour tone is professional and clean — organized and readable, not stiff, not informal.\n\nOutput rules:\n- Use Slack markdown only: *bold* for event names, plain line breaks between events\n- No bullet symbols, no headers, no em dashes used as decoration\n- Keep the full message under 300 words\n- Do not invent any detail not present in the event data you are given\n- Do not add motivational filler or sign-offs"
        }
      },
      "id": "47b3e55a-92b3-439a-8423-f77c75d0848b",
      "name": "Calendar Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -352,
        96
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "fiu.slb.president@gmail.com",
          "mode": "list",
          "cachedResultName": "fiu.slb.president@gmail.com"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -224,
        320
      ],
      "id": "5d62327a-a017-432c-839d-263214de5924",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "7TTmCF9Zd0zArQvA",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -352,
        320
      ],
      "id": "ebb1b45b-46ce-4e79-8287-2f74ac6072fc",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2kUNacrQ9rZDOtud",
          "name": "Hermes main billing"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ab380a2-a8d3-421c-ab4e-748ea8fb7904",
              "name": "response",
              "value": "Unable to perform task. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1fb9fdc7-45be-4cfe-bac3-1dbf9665a43c",
      "name": "Try Again",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C06NZT7ME3S",
          "mode": "list",
          "cachedResultName": "announcements"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        0,
        0
      ],
      "id": "69574169-6c35-4479-8206-417690bff59a",
      "name": "Send a message",
      "webhookId": "ee1862b4-11d4-4681-b47e-c793737d0391",
      "credentials": {
        "slackApi": {
          "id": "QednMfSxt8oWBSXs",
          "name": "Theta Delta"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -576,
        96
      ],
      "id": "051c8201-c0ee-42d3-9f65-1561619607e9",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Calendar Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Calendar Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3dffe272-563d-4981-a763-7490a8151ae1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a55815efdabee8917bab1dac5ab42163ff3659136b3f40ed9e4a87f7a6b0d648"
  },
  "nodeGroups": [],
  "id": "QIqD8pNvYkZyRzRb",
  "tags": []
}