HermeΣ.json
{
  "name": "HermeΣ",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        16,
        208
      ],
      "id": "fc5a4c0e-9030-4d03-8701-a11133a1f396",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "34c26440-73d2-4b6f-b961-e042030ad264",
              "leftValue": "={{ $json.files }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "d5cfb218-855f-48f0-a455-e8c7a64f71f1",
              "leftValue": "={{ $json.files }}",
              "rightValue": 1,
              "operator": {
                "type": "array",
                "operation": "lengthEquals",
                "rightType": "number"
              }
            },
            {
              "id": "087e5919-37ee-4641-bee9-d663bec3b494",
              "leftValue": "={{ $json.files[0].title }}",
              "rightValue": "=.pdf",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        112
      ],
      "id": "d03c34fd-72f0-4f91-b767-edfa9c0abdc1",
      "name": "file detected?"
    },
    {
      "parameters": {
        "url": "={{$json[\"files\"]?.[0]?.[\"url_private_download\"]}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        16,
        16
      ],
      "id": "232f9fc1-53a4-4795-857d-905484aeb514",
      "name": "Download document",
      "credentials": {
        "slackApi": {
          "id": "QednMfSxt8oWBSXs",
          "name": "Theta Delta"
        }
      }
    },
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "watchWorkspace": true,
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        112
      ],
      "id": "7ff111da-8a8e-44b9-ad02-7383a3324fae",
      "name": "Slack Trigger",
      "webhookId": "4291de7a-e1ce-4ac0-ba18-019fe15de37a",
      "credentials": {
        "slackApi": {
          "id": "QednMfSxt8oWBSXs",
          "name": "Theta Delta"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GlzWdO0w7zkKLz2Z",
          "mode": "list",
          "cachedResultUrl": "/workflow/GlzWdO0w7zkKLz2Z",
          "cachedResultName": "Calendar Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "data"
          ],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        240,
        112
      ],
      "id": "c606c0ba-65ec-4b0c-9bfb-2874dfaa1681",
      "name": "Call 'Calendar Agent'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3kGiXQdB5dO6G8AZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/3kGiXQdB5dO6G8AZ",
          "cachedResultName": "Summarize Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "File": "1"
          },
          "matchingColumns": [
            "File"
          ],
          "schema": [
            {
              "id": "File",
              "displayName": "File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        240,
        -80
      ],
      "id": "3485276b-6182-448a-b870-e53768a1e896",
      "name": "Call 'Summarize Agent'"
    }
  ],
  "pinData": {},
  "connections": {
    "file detected?": {
      "main": [
        [
          {
            "node": "Download document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download document": {
      "main": [
        [
          {
            "node": "Call 'Summarize Agent'",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'Calendar Agent'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "file detected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9104de6a-f830-41fb-affd-da452ca0f671",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a55815efdabee8917bab1dac5ab42163ff3659136b3f40ed9e4a87f7a6b0d648"
  },
  "nodeGroups": [],
  "id": "CbbStCMsestVbkbL",
  "tags": []
}